@import 'base/variables';
* {
	box-sizing: border-box;
	font-family: "Museo Sans", sans-serif;
}
.container {
	max-width: 950px;
	margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/previos';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/clock';
@import 'base/media';