@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
    .promo {
        min-height: 600px;
        padding: 20px 0 50px 0;
        &__wrapper {
            margin-top: 50px;
            align-items: center;
        }
    }
    .previos {
        padding: 45px 0 45px 0;
        &__wrapper {
            justify-content: space-between;
            margin-top: 50px;
            .title {
                font-size: 16px;
                margin-top: 40px;
            }
            .subtitle {
                font-size: 13px;
            }
        }
        &__icons {
            width: 220px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 50px 0 50px 0;
        .title {
            font-size: 30px;
            text-align: left;
        }
        &__descr {
            margin-top: 50px;
            font-size: 18px;
        }
    }
    .carousel {
        height: 550px;
        padding: 50px 0 50px 0;
        &__inner {
            width: 590px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 35px;
        .title {
            font-size: 28px;
        }
        &__content {
            margin-top: 40px;
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            &_active {
                display: flex;
            }
        }
        &-item {
            margin: 10px;
        }
    }
    .clients {
        min-height: 940px;
        padding-bottom: 69px;
        .title {
            font-size: 28px;
        }
        &__item {
            margin-top: 50px;
            height: 300px;
        }
        &__descr {
            font-size: 15px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 500px;
    }
    .promo {
        min-height: 540px;
        padding: 15px 0 50px 0;
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            text-align: center;
            font-size: 33px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icons {
            margin-top: 40px;
            width: 450px;
        }
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
        .button {
            font-size: 11px;
            width: 140px;
        }
    }
    .previos {
        min-height: 300px;
        padding: 30px 0 43px 0;
        &__title {
            font-size: 27px;
        }
        &__wrapper {
            margin-top: 40px;
            .title {
                font-size: 14px;
                margin-top: 35px;
            }
            .subtitle {
                display: none;
            }
        }
    }
    .consultation {
        min-height: 600px;
        padding: 50px 0 50px 0;
        .title {
            font-size: 27px;
            text-align: left;
        }
        &__descr {
            margin-top: 40px;
            font-size: 16px;
        }
    }
    .carousel {
        height: 450px;
        padding: 40px 0 40px 0;
        &__inner {
            width: 490px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 35px;
        .title {
            font-size: 26px;
        }
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            text-transform: uppercase;
            width: 145px;
            height: 40px;
            font-size: 13px;
            font-weight: 500;
            color: #6B6B6B;
            border: 2px solid #D0D0D0;
            margin: 0 5px;
            text-align: center;
            line-height: 40px;
            transform: skewX(-25deg);
            transition: 0.5s all;
            outline: none;
            cursor: pointer;
            div {
                transform: skewX(25deg);
            }
            &_active {
                background-color: $main-color;
                color: #fff;
                border: none;
                box-shadow: 5px 5px 20px $main-color;
            }
        }
        &__content {
            margin-top: 20px;
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            &_active {
                display: flex;
            }
        }
        &-item {
            margin: 5px;
        }
    }
    .clients {
        min-height: 940px;
        padding-bottom: 69px;
        .title {
            font-size: 26px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 35px;
            height: 490px;
        }
        &__text {
            margin: 20px 0 10px 0;
            padding: 0 20px;
        }
        &__descr {
            font-size: 14px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .promo {
        min-height: 540px;
        padding: 10px 0 30px 0;
        &__header {
            width: 280px;
            font-size: 30px;
        }
        &__subheader {
            width: 280px;
            font-size: 14px;
            margin-top: 30px;
        }
        &__icons {
            width: 280px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            margin-top: 40px;
            font-size: 14px;
            width: 250px;
        }
    }
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 13px;
        }
        .button {
            font-size: 10px;
            width: 120px;
        }
    }
    .previos {
        min-height: 200px;
        padding: 20px 0 25px 0;
        &__title {
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 20px;
            .title {
                font-size: 9px;
                margin-top: 20px;
            }
        }
    }
    .consultation {
        min-height: 600px;
        padding: 20px 0 30px 0;
        .title {
            font-size: 26px;
            text-align: center;
        }
        &__descr {
            margin-top: 20px;
            font-size: 18px;
            text-align: center;
        }
    }
    .feed-form {
        margin: 20px auto;
        width: 270px;
        input {
            height: 45px;
            margin-bottom: 10px;
        }
        .button_submit {
            width: 270px;
        }
    }
    .carousel {
        height: 300px;
        padding: 40px 0 40px 0;
        &__inner {
            width: 300px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 20px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 20px;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding-left: 0;
            margin-bottom: 0;
        }
        &__tab {
            text-transform: uppercase;
            width: 250px;
            height: 50px;
            font-size: 13px;
            font-weight: 500;
            color: #6B6B6B;
            border: 2px solid #D0D0D0;
            margin: 5px 5px;
            text-align: center;
            line-height: 50px;
            transform: skewX(0deg);
            transition: 0.5s all;
            outline: none;
            cursor: pointer;
            div {
                transform: skewX(0deg);
            }
            &_active {
                background-color: $main-color;
                color: #fff;
                border: none;
                box-shadow: 5px 5px 20px $main-color;
            }
        }
        &__content {
            margin-top: 20px;
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            &_active {
                display: flex;
            }
        }
        &-item {
            margin: 5px;
        }
    }
    .clients {
        min-height: 940px;
        padding-bottom: 69px;
        .title {
            font-size: 20px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 35px;
            height: 500px;
        }
        &__text {
            margin: 20px 0 10px 0;
            padding: 0 20px;
        }
        &__descr {
            font-size: 13px;
        }
    }
}