.promo {
    min-height: 650px;
    padding: 29px 0 93px 0;
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 700;
        width: 535px;
    }
    &__subheader {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        width: 535px;
        text-align: center;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-around;
        width: 535px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        color: #ffffff;
        a {
            text-transform: uppercase;
            text-decoration: underline;
            color: #ffffff;
        }
    }
}